:root {
  --theme-color: #ff9854;
  /* 全局修改: 修改search样式 */
  --van-search-left-icon-color: var(--theme-color) !important;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
}

body {
  font-size: 14px;
  /* font-family: 'NotoSerifKR-Regular'; */
  font-family: 'ZCOOLKuaiLe-Regular';
  /* font-family: 'ZhiMangXing-Regular'; */
  /* font-family: 'NotoSansSC-Regular'; */
}

/* 当前元素占整个屏幕，盖在tabbar上面显示 */
.top-page {
  position: relative;
  z-index: 9;
  height: 100vh;
  /* overflow-y: scroll; */
  overflow: scroll;
  /* 默认transparent透明，需要设置一层背景色覆盖 */
  background-color: #fff;
}

/* 文字两行溢出隐藏 */
.text-two-lines-overflow-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@font-face {
  font-family: 'NotoSerifKR-Regular';
  src: url(../fonts/NotoSerifKR-Regular.otf);
}

@font-face {
  font-family: 'NotoSansSC-Regular';
  src: url(../fonts/NotoSansSC-Regular.otf);
}

@font-face {
  font-family: 'ZCOOLKuaiLe-Regular';
  src: url(../fonts/ZCOOLKuaiLe-Regular.ttf);
}

@font-face {
  font-family: 'ZhiMangXing-Regular';
  src: url(../fonts/ZhiMangXing-Regular.ttf);
}